{% extends "base.html" %}

{% block title %}
Story Site
{% endblock %}

{% block body %}
<h4>Welcome {{ user }}</h4>

<br>

<form method="GET" action="/new">
  <input type="submit" value="Create New Story">
</form>



<br>


<h3>New Stories</h3>
{% for tuple in stories %}
<form method="POST" action="/edit">
  <input type="hidden" name="storyid" value="{{ tuple[0] }}">
  <input type="hidden" name="story" value="{{ tuple[1] }}">
  <input type="submit" value="{{ tuple[1] }}">
</form>
<br>
{% endfor %}

<h3>Previously Edited Stories</h3>
{% for tuple in edited_stories %}
<form method="POST" action="/view">
  <input type="hidden" name="storyid" value="{{ tuple[0] }}">
  <input type="hidden" name="story" value="{{ tuple[1] }}">
  <input type="submit" value="{{ tuple[1] }}">
</form>
<br>
{% endfor %}

<p>
  <form method="POST" action="/logout">
    <input type="submit" name="logout" value="Log Out">    
  </form>
</p>

{% endblock %}
